.emotions-list {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 a {
    text-decoration: none;
  }

  li {
    font-size: larger;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  p {
    padding: 0;
    margin: 0;
  }
}